/* (e.g.) /github/github_to_bitbucket/*/
li div.highlight pre code {
    background-color: #272822;
    border: 1px solid #272822;
    white-space: pre-wrap;
}

/* (e.g.) /androidwear/android_wear_chage_face/ */
p code, li code {
    margin: 0 0px;
    padding: 0 0px;
    white-space: pre-wrap;
}
